---
---

@import "{{ site.theme }}";
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: rgb(48, 137, 153);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: rgb(1, 32, 134);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(101, 144, 223);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#Installation {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}