---
---

@import "{{ site.theme }}";

.copy-code-button {
  display: block;
  background-color: inherit;
  border: none;
  outline: none;
  width: 3.5%;
}

.copy-code-button:hover {
  display: block;
  background-color: rgb(48, 137, 153);
  border: none;
  width: 3.5%;
}

#myMenu {
  background-color: inherit;
}
#myMenu td {
  background-color: inherit;
  width: 33%;
  text-align: center;
  padding: 12px;
  display: "";
}
#myMenu tr:hover {
  background-color: rgb(48, 137, 153);
  color: white;
}

#myMenu a {
  color: inherit;
  font-size: 20px;
  font-weight: bold;
}

#myMenu a:hover {
  color: inherit;
}

#content td {
  width: 33%;
  text-align: center;
}
// * {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  //border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

.tab-sub-help {
  display: flex;
  background-color: #f1f1f1;
  width: 100%;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tab-sub-help .tablinks {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  // transition: 0.3s;
}

.tab-sub-help .tablinks-active {
  display: block;
  background-color: #ddd;
  color: black;
  padding: 22px 16px;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  // transition: 0.3s;
}

.tab-sub-help .right {
  display: flex-grow;
  background-color: white;
  padding-left: 22px;
  padding-right: 22px;
  transition: 1s;
} 
/* Change background color of buttons on hover */

.tab-sub-help a:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

.tab2 button.active {
  background-color: #ccc;
}



/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  background-color: white;
  width: 70%;
  border-left: none;
  height: 300px;
}
/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: rgb(48, 137, 153);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.6666%;
}

.tablink:hover {
  background-color: rgb(1, 32, 134);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(101, 144, 223);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#Installation {background-color: green;}
#Documentation {background-color: purple;}
#Contact {background-color: blue;}
#About {background-color: orange;}
